!!! 5
%html{lang: 'vi'}
  %head
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %title Ruby Vietnam
    %meta{name: 'description', content: 'Ruby Vietnam'}
    %meta{name: 'keywords', content: 'ruby, rails, vietnam, saigon, hanoi, ho chi minh city, ha noi, programming, meetup, group, user group, conferences, events'}
    %meta{name: 'viewport', content: 'width=device-width'}

    %link{rel: 'stylesheet', href: '/css/screen.css'}
    %script{src: '/js/modernizr.min.js'}
  %body
    %header{role: 'banner'}
      %a{href: '/'}
        %span.logo Ruby Vietnam
    %aside#meta
      %nav{role: 'navigation'}
        %h3 Tổ chức
        %ul
          %li
            %a{href: '/committee-members.html'} Ban điều hành
          %li
            %a{href: '/join-ruby-vietnam.html'} Tham gia Ruby Vietnam
          %li
            %a{href: '/code-of-conduct.html'} Quy tắc ứng xử
          %li
            %a{href: 'http://twitter.com/vietnamrb'} @vietnamrb
        %h3 Cộng đồng
        %ul
          %li
            %a{href: 'http://news.ruby.org.vn'} Tin tức
          %li
            %a{href: '/projects.html'} Các dự án
          %li
            %a{href: 'http://meetup.ruby.org.vn'} Meetups
          %li
            %a{href: 'http://chat.ruby.org.vn'} Chat Room
          %li
            %a{href: 'http://jobs.ruby.org.vn'} Đăng / tìm việc

    %section{role: 'main'}
      = yield

    %footer{role: 'contentinfo'}
      %small &copy; 2014-2021 Ruby Vietnam
