@mixin left-column {
    width: 300px;
    margin-left: 20px;
    float: left;
    clear: both;
    @include clearfix;
}

@mixin right-column {
    width: 610px;
    margin-left: 10px;
    margin-right: 20px;
    float: right;
    @include clearfix;
}

@mixin both-columns {
    width: 920px;
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    float: left;
}