%section#members
  %header
    %h1 Ban điều hành

  %article
    %img{src: '/images/committee-members/trung.jpeg'}
    %header
      %h3 Trung Lê
      %p.position Người sáng lập & Quản trị
    .bio
      %p Trung Lê came to Ruby through his intership in his final year. Trained to be a Telecom Engineer, fated to be a programmer and a product / community builder. For the last 10 years, he's been working on various projects, some of you might have used, such as Spree Commerce and Lotus Framework.

      Trung is now working a solution engineer at <a href="http://www.envato.com">Envato</a> where he helps build the best creative marketplace on the Earth. His dream is to create a rich and supportive Ruby community in Vietnam.
    .contact
      %a{href: 'http://twitter.com/joneslee85'} @joneslee85
      %a{href: 'http://github.com/joneslee85'} GitHub
      %a{href: 'http://au.linkedin.com/in/iloveruby/'} LinkedIn
      %a{href: 'http://ruby-journal.com'} Ruby Journal

  %article
    %img{src: '/images/committee-members/huey.png'}
    %header
      %h3 Hiếu Lê
      %p.position Đồng sáng lập
    .bio
      %p A mad graphic designer and UX expert. He helped design Ruby Vietnam logo and other digital assets. He is now working for FruitTech in Melbourne, Australia and behind many great iOS for Australia market.
    .contact
      %a{href: 'http://github.com/modology'} GitHub

  %article
    %img{src: '/images/committee-members/huydx.png'}
    %header
      %h3 Huy Đỗ
      %p.position Quản trị
    .bio
      %p TBP
    .contact
      %a{href: 'https://twitter.com/dxhuy'} @dxhuy
      %a{href: 'https://github.com/huydx'} Github
      %a{href: 'https://facebook.com/dxhuy'} Facebook
      %a{href: 'https://huydx.com'} Blog

  %article
    %img{src: '/images/committee-members/rauxalach.jpeg'}
    %header
      %h3 Huy Lê
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/rauxalach'} Github

