%section#members
  %header
    %h1 Ban điều hành

  %article
    %img{src: '/images/committee-members/trung.jpeg'}
    %header
      %h3 Trung Lê
      %p.position Người sáng lập & Quản trị
    .bio
      %p Trung Lê làm quen với Ruby khi anh còn là thực tập sinh những năm cuối thạc sĩ Viễn Thông tại Australia nhiều năm về trước. Anh rất tích cực đóng góp cho cộng đồng Ruby Australia cũng như trên thế giới, anh giúp tổ chức các hoạt động cồng đồng như Ruby Meetup Sydney và Melbourne, RailsGirls Australia, và Rails Girls Summer of Code, bên cạnh đó anh là thành viên nòng cốt của 2 dự án khá tên tuổi là Spree Commerce và Lotus Framework.

      Anh hiện đang làm kỹ sư tại <a href="http://www.envato.com">Envato</a>, trụ sở Melbourne, Australia, nơi anh
      cùng với các kỹ sư hàng đầu xây dựng chợ bán các sản phảm sáng tạo lớn nhất thế giới.

      Ước mơ của anh là du lịch thế giới và xây dựng các sản phẩm thực sự có ích cho cộng đồng.
    .contact
      %a{href: 'http://twitter.com/joneslee85'} @joneslee85
      %a{href: 'http://github.com/joneslee85'} GitHub
      %a{href: 'http://au.linkedin.com/in/iloveruby/'} LinkedIn
      %a{href: 'http://ruby-journal.com'} Ruby Journal

  %article
    %img{src: '/images/committee-members/huey.png'}
    %header
      %h3 Hiếu Lê
      %p.position Đồng sáng lập
    .bio
      %p Một chuyên gia UX, một nhà thiết kế độ họa có tiếng tại Australia. Anh giúp thiết kế logo cho Ruby Vietnam.

      Anh hiện là ninja ở công ty Fruits Tech (Melbourne), nơi anh luyện chưởng ra các thiết kế cho các iOS app tên
      tuổi của thị trường Australia.

    .contact
      %a{href: 'http://github.com/modology'} GitHub

  %article
    %img{src: '/images/committee-members/huydx.png'}
    %header
      %h3 Huy Đỗ
      %p.position Quản trị
    .bio
      %p TBP
    .contact
      %a{href: 'https://twitter.com/dxhuy'} @dxhuy
      %a{href: 'https://github.com/huydx'} Github
      %a{href: 'https://facebook.com/dxhuy'} Facebook
      %a{href: 'https://huydx.com'} Blog

  %article
    %img{src: '/images/committee-members/rauxalach.jpeg'}
    %header
      %h3 Huy Lê
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/rauxalach'} Github

