%section#members
  %header
    %h1 Ban điều hành

  %article
    %img{src: '/images/committee-members/trung.jpeg'}
    %header
      %h3 Lê Trung
      %p.position Người sáng lập & Quản trị
    .bio
      %p Lê Trung làm quen với Ruby khi anh còn là thực tập sinh những năm cuối cử nhân Viễn Thông tại Australia nhiều năm về trước. Anh rất tích cực đóng góp cho cộng đồng Ruby Australia cũng như trên thế giới, anh giúp tổ chức các hoạt động cồng đồng như Ruby Meetup Sydney và Melbourne, RailsGirls Australia, và Rails Girls Summer of Code, bên cạnh đó anh là thành viên nòng cốt của 2 dự án khá tên tuổi là Spree Commerce và Lotus Framework.

      Anh hiện đang làm kỹ sư tại <a href="http://www.envato.com">Envato</a>, trụ sở Melbourne, Australia, nơi anh
      cùng với các kỹ sư hàng đầu xây dựng chợ bán các sản phảm sáng tạo lớn nhất thế giới.

      Ước mơ của anh là du lịch thế giới và xây dựng các sản phẩm thực sự có ích cho cộng đồng.
    .contact
      %a{href: 'http://twitter.com/joneslee85'} @joneslee85
      %a{href: 'http://github.com/joneslee85'} GitHub
      %a{href: 'http://au.linkedin.com/in/iloveruby/'} LinkedIn
      %a{href: 'http://ruby-journal.com'} Ruby Journal

  %article
    %img{src: '/images/committee-members/huey.png'}
    %header
      %h3 Lê Hiếu
      %p.position Đồng sáng lập
    .bio
      %p Một chuyên gia UX, một nhà thiết kế độ họa có tiếng tại Australia. Anh giúp thiết kế logo cho Ruby Vietnam.

      Anh hiện là ninja ở công ty Fruits Tech (Melbourne), nơi anh luyện chưởng ra các thiết kế cho các iOS app tên
      tuổi của thị trường Australia.

    .contact
      %a{href: 'http://github.com/modology'} GitHub

  %article
    %img{src: '/images/committee-members/huydx.png'}
    %header
      %h3 Đỗ Huy
      %p.position Quản trị
    .bio
      %p Huy yêu thích xây dựng sản phẩm với Javascript và Ruby, anh cũng là tác giả của gem Facy, một CLI client của Facebook mà nhiều người yêu thích. Thêm vào anh rất đam mê đọc sách và nghiên cứu.

      Sau khi tốt nghiệp thạc sĩ tại ĐH Ritsumeikan, anh công tác tại công ty CyberAgent Group, Tokyo, Nhật.
    .contact
      %a{href: 'https://twitter.com/dxhuy'} @dxhuy
      %a{href: 'https://github.com/huydx'} Github
      %a{href: 'https://facebook.com/dxhuy'} Facebook
      %a{href: 'http://huydx.com'} Blog

  %article
    %img{src: '/images/committee-members/rauxalach.jpeg'}
    %header
      %h3 Lê Huy
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/rauxalach'} Github

  %article
    %img{src: 'https://avatars3.githubusercontent.com/u/1930954?v=3&s=460'}
    %header
      %h3 Nguyễn Hiếu
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/hieuk09'} Github

  %article
    %img{src: 'https://avatars0.githubusercontent.com/u/1218094?v=3&amp;s=460'}
    %header
      %h3 Lưu Việt Hoàng
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/unrealhoang'} Github

  %article
    %img{src: 'https://avatars1.githubusercontent.com/u/1636026?v=3&s=460'}
    %header
      %h3 Minh Quý
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/MQuy'} Github
      %a{href: 'http://mquy.github.io/'} Blog

  %article
    %img{src: 'https://avatars2.githubusercontent.com/u/310085?v=3&s=460'}
    %header
      %h3 Trần Kim Hiếu
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/trankimhieu'} Github

  %article
    %img{src: 'https://avatars0.githubusercontent.com/u/3582650?v=3&s=460'}
    %header
      %h3 Nguyễn Long
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/longkt90'} Github

  %article
    %img{src: 'https://avatars2.githubusercontent.com/u/1940280?v=3&s=460'}
    %header
      %h3 Lê Đức
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/lmduc'} Github

  %article
    %img{src: 'https://avatars3.githubusercontent.com/u/2122175?v=3&s=460'}
    %header
      %h3 Nguyễn Diệu
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/dieunb'} Github

  %article
    %img{src: 'https://avatars1.githubusercontent.com/u/1997137?v=3&s=460'}
    %header
      %h3 Nguyễn Lê Xuân Vinh
      %p.position Quản lý
    .bio
      %p TBP
    .contact
      %a{href: 'https://github.com/vinhnguyenleasnet'} Github
