%p#mission-statement
  Mục đích thành lập của Ruby Việt Nam là để tạo ra một sân chơi lành mạnh,
  khách quan cho các bạn đam mê lập trình nói chung và ngôn ngữ Ruby nói riêng.

  Qua đó nhóm mong tạo được một cộng động liên kết gắn bó cùng giúp đỡ lẫn
  nhau trong học tập, trao đổi kinh nghiệm và cơ hội nghề nghiệp.

%section#meetups
  %h3 Meetups
  %p
    Hoạt động meetup được tổ chức hàng tháng tại TP.HCM và Hà Nội. Mỗi sự kiện
    được tổ chức bởi thành viên của nhóm cư ngụ tại đó với sự giúp đỡ của các
    thành viên ở xa. Rất hoan nghênh các bạn mới tham gia.

    Các thông tin về meetup sẽ được thông báo trên <a href="http://meetup.ruby.org.vn">Lịch Meetup</a>.

%section
  %h3 Đóng góp cho trang chủ
  %p
    Mã nguồn của trang được host tại Github:
    <a href="https://github.com/ruby-vietnam/ruby.org.vn">https://github.com/ruby-vietnam/ruby.org.vn</a>. Xin hãy tham khảo <a href="https://github.com/ruby-vietnam/ruby.org.vn#readme">README</a> để biết thêm chi tiết.
