%section
  %h3 Gia nhập Ruby Việt Nam
  %p
    Trở thành hội viên không mất phí gia nhập.
    Chỉ cần bạn LIKE <a href="http://news.ruby.org.vn/">Facebook page</a>
    là bạn mặc nhiên trở thành hội viên.

  %p
    Các thành viên khuyến khích đóng góp các link hay liên quan đến Ruby và
    tham gia <a href="http://chat.ruby.org.vn/">Chat Room</a>.
