%section#projects
  %header
    %h1 Các dự án

  %article
    %header
      %h3 Địa hoá trang chủ ruby-lang.org
    .description
      Dự án phiên dịch toàn bộ trang chủ ruby-lang.org sang tiếng Việt.
      Hiện phiên bản của trang chủ ruby-lang.org có thể được tìm tại <a href="https://www.ruby-lang.org/vi/">link</a>

  %article
    %header
      %h3 Hack Night
    .description
      Hack Night là hoạt động gặp mặt và cùng hack những vấn đề kỹ thuật mà nhóm
      đang gặp phải. BĐH sẽ thông báo thời gian và địa điểm nếu sự kiện được tổ chức.
      Xem thêm tại <a href="https://github.com/ruby-vietnam/hacknite">Hack9 Github repo</a>