%section#projects
  %header
    %h1 Các dự án

  %article
    %header
      %h3 Việt hoá trang chủ ruby-lang.org
    .description
      Dự án phiên dịch toàn bộ trang chủ ruby-lang.org sang tiếng Việt.
      Hiện phiên bản tiếng Việt của trang chủ ruby-lang.org có thể được tìm tại <a href="https://www.ruby-lang.org/vi/">link</a>

  %article
    %header
      %h3 Job Board
    .description
      Với mong muốn là cầu nối giữa các nhà tuyển dụng chất lượng cao và cộng đồng.
      Xem thêm tại <a href="jobs.ruby.org.vn">link</a>

  %article
    %header
      %h3 Meetup
    .description
      Meetups là hoạt động gặp mặt nhằm mục đích chia sẻ và điểm lại những tin tức và công nghệ liên quan đến Ruby trong tháng.
      Hiện nay meetups được tổ chức đều đặn hằng tháng tại Hà Nội (hanoi.rb), TPHCM (hcmc.rb) và Đà Nẵng (danang.rb).
      BĐH sẽ thông báo thời gian và địa điểm tổ chức tại <a href="http://meetup.ruby.org.vn">link</a>.
      Xem thêm tại <a href="https://github.com/ruby-vietnam/meetup">Meetups Github repo</a>

  %article
    %header
      %h3 Hack Night
    .description
      Hack Night là hoạt động gặp mặt và cùng hack những vấn đề kỹ thuật mà nhóm đang gặp phải.
      BĐH sẽ thông báo thời gian và địa điểm tổ chức tại <a href="https://www.facebook.com/vietnam.ruby">link</a>.
      Xem thêm tại <a href="https://github.com/ruby-vietnam/hacknite">Hack9 Github repo</a>

  %article
    %header
      %h3 Tuyển tập Ruby Gem chất lượng cao viết bời người Việt
    .description
      Một repository tổng hợp các gem chất lượng cao do người Việt sáng tạo ra.
      Xin xem và đăng ký thêm gem tại <a href="https://github.com/ruby-vietnam/made-by-vietnamese-gems">repo</a>.
